body {font-family: Georgia, "Times New Roman", serif;
	color: #000;
	background-color: #fff;
	margin: 0;
	padding: 0;
	}
	
#container	{background-image: url("houses.jpeg");
			background-size: width height;
			background-repeat: no-repeat;
			text-align: center;
			}
			
#text	{text-align: center;
		margin-left: 5%;
		margin-right: 5%;
		font-size: 100%;
		}
		
header {font-family: Verdana, Geneva, sans-serif;
		color: inherit;
		background-color: #68373A;
		padding: 0;
		opacity: .80;
		}


.right	{position: relative;
		top: 0;
		margin-left: auto;
		vertical-align: top;
		margin-right: 0;
		width: 20px;
		position: absolute;
		right: 60%;
		}
			
#logos	{white-space: nowrap;
		color: inherit;
		display: table;
		}

#logos > div {}
		
#links	{text-align: center;
		width: 100%;
		margin-left: auto;
		margin-right: 50px;
		position: absolute;
		right: 150%}
		
nav {position: relative;
	bottom: 0px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 0px;
	}

nav a 	{position: relative;
		bottom: 0px;
		font-family: "Century Gothic", Candara, sans-serif;
		font-weight: 100;
		text-decoration: none;
		padding: 5px 50px 5px 50px;
		font-size: large;
		}
		
nav a:link {color: #fff;
			background-color: inherit;
			}
			
nav a:visited 	{color: #fff;
				background-color: inherit;
				}
				
nav a:hover {color: #376843;
			background-color: #inherit;
			}
			
nav a:active 	{color: #3BB459;
				background-color: #inherit;
				}
				
nav ul {list-style: none;
		}

nav li {display: inline;
		}
		
#sponsor	{padding-left: 10px;
			padding-bottom: 10px;
			}
		
.icon img	{padding-bottom: -500px;}

#content	{font-family: georgia, "book antiqua", serif;
			margin-top: 0;
			background-color: #fff;
			text-align: center;
			}
			
.slideshow	{width: 50%;
			text-align: center;
			margin: auto;
			position: relative;}
			
.button	{position: absolute;
		top: 45%;
		left: 0;}
			
hr	{color: #376843;
			}

h1 {color: #376843;
	background-color: inherit;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	font-family: "Century Gothic", Candara, sans-serif;
	font-size: 300%;
	margin-bottom: 0;
	}

h2 {color: #684945;
	background-color: inherit;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: "Century Gothic", Candara, sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 180%;
	}

h3	{color: #376843;
	margin-bottom: 0;
	margin-top: 10px;
	padding-top: 10px;
	line-height: 0;
	font-size: 150%;}

h4 {text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: -15px;
	margin-top: 0px;
	font-family: "Century Gothic", Candara, sans-serif;
	font-size: 100%;
	}
	
#vision	{width: 85%;
		text-align: center;
		font-size: 150%;
		margin-top: 0;
		margin-left: 9%;
		margin-right: 5%;
		color: #fff;
		}
		
#statement	{margin-right: -5.5%;
			margin-left: -10%;
			padding-top: 1%;
			padding-bottom: .5%;
			background-color: #53B484;}

#left	{width: 80%;
		text-align: left;
		font-size: 120%;
		padding-right: 20px;
		}
		
#right	{/*text-align: center;
		padding: 5px;}*/
		color: inherit;
		background-color: inherit;
		border-style: solid;
		border-width: 2px;
		border-color: #376843;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding: 5px;
		margin-top: 0;
		}

#members	{padding-bottom: 5px;}

#right a 	{text-decoration: none;
			color: #376843;
			background-color: inherit;}

#right a:hover	{color: #53B484;
				background-color: inherit;}			
		
main img{float: left;
		padding-left: 20px;}
		
footer {color: #376843;
	text-align: center;
	font-size: small;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	font-family: "Century Gothic", Candara, sans-serif;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 1%;
	}
	
footer a	{text-decoration: none;
			color: inherit;
			background-color: inherit;
			}

footer a:hover	{color: #53B484;
				background-color: inherit;}
