body {font-family: Georgia, "Times New Roman", serif;
	color: #000;
	background-color: #fff;
	margin: 0;
	padding: 0;
	}
	
#container	{background-image: url("houses.jpeg");
			background-size: width height;
			background-repeat: no-repeat;
			text-align: center;
			}
		
header {font-family: Verdana, Geneva, sans-serif;
		color: inherit;
		background-color: #68373A;
		padding: 0;
		opacity: .80;
		}

.right	{position: relative;
		top: 0;
		margin-left: auto;
		vertical-align: top;
		margin-right: 20px;
		width: 20px;
		position: absolute;
		right: 60%
		}
			
#logos	{white-space: nowrap;
		color: inherit;
		display: table;
		}
		
#links	{text-align: center;
		width: 100%;
		margin-left: auto;
		margin-right: 50px;
		position: absolute;
		right: 150%}
		
nav {position: relative;
	bottom: 0px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 0px;
	}

nav a 	{position: relative;
		bottom: 0px;
		font-family: "Century Gothic", Candara, sans-serif;
		font-weight: 100;
		text-decoration: none;
		padding: 5px 50px 5px 50px;
		font-size: large;
		}
		
nav a:link {color: #fff;
			background-color: inherit;
			}
			
nav a:visited 	{color: #fff;
				background-color: inherit;
				}
				
nav a:hover {color: #376843;
			background-color: #inherit;
			}
			
nav a:active 	{color: #3BB459;
				background-color: #inherit;
				}
				
nav ul {list-style: none;
		}

nav li {display: inline;
		}
		
.icon img	{padding-bottom: -500px;}

#content	{font-family: georgia, "book antiqua", serif;
			margin-top: 0;
			background-color: #fff;
			text-align: center;
			padding-top: 0;
			padding-left: 25px;
			}
			
h1 {color: #376843;
	background-color: inherit;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	font-family: "Century Gothic", Candara, sans-serif;
	font-size: 300%;
	margin-bottom: 0;
	padding-top: 0;
	}
	
main img{float: left;
		padding-left: 20px;
		}
		
#profile	{padding-right: 5px;}
		
#desc	{text-align: justify;
		padding-left: 5px;
		vertical-align: top;
		padding-left: 5px;
		width: 650px;
		padding-right: 20px;
		padding-top: 0;
		margin-top: 0;}

td	{padding-bottom: 2%;}

hr	{color: #376843;
	margin-top: 0;
	margin-bottom: 0;
	}
	
h2	{color: #376843;
	margin-bottom: 0;
	text-align: left;
	font-family: "Century Gothic", Candara, sans-serif;
	font-size: 180%;
	}
		
h3	{color: #376843;
	margin-bottom: 0;
	margin-top: 10px;
	padding-top: 10px;
	line-height: 0;
	}
		
h5	{margin-top: 0;
	margin-bottom: 0;
	line-height: 0;
	}	
	
#email 	{color: #376843;
		font-weight: bold;
		/*font-family: "Lucida Console", "MS Sans Serif", sans-serif;*/
		font-family: "Century Gothic", Candara, sans-serif;
		font-size: 90%;
		text-decoration: none;}
		
#email:hover	{color: #53B484;
				background-color: inherit;}
		
#members	{text-align: center;
			margin-left: auto;
			margin-right: auto;
			width: 80%;}
			
footer {color: #376843;
	text-align: center;
	font-size: small;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	font-family: "Century Gothic", Candara, sans-serif;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 1%;
	}
	
footer a	{text-decoration: none;
			color: inherit;
			background-color: inherit;
			}

footer a:hover	{color: #53B484;
				background-color: inherit;}
